@import "variable";

footer
{
    width: 100%;
    background-color: $primary;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    .developer
    {
        color: $font-color;

    }
}