@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font:'Roboto', sans-serif;
$primary:#222831;
$secondary:#393E46;
$tertiary:#00ADB5;
$font-color:#EEEEEE;
// $primary:#B3FFAE;
// $secondary:#FF6464;
// $tertiary:#FF7D7D;
// $light:#F8FFDB;
// $font:black;
// $white:white;
